<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Attraction List</title>
    <link th:href="@{/attraction-list.css}" rel="stylesheet">
</head>
<body>

<header>
    <h1>Alle attraktioner</h1>
</header>

<div class="container">
    <table class="styled-table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Tags</th>
            <th>Rediger</th>
            <th>Slet</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="attraction : ${attractions}">
            <td th:text="${attraction.name}"></td>
            <td th:text="${attraction.description}"></td>
            <td>
                <a th:href="@{/attractions/{name}/tags(name=${attraction.name})}" class="btn">Tags</a>
            </td>
            <td>
                <a th:href="@{/attractions/{name}/edit(name=${attraction.name})}" class="btn">Rediger</a>
            </td>
            <td>
                <form th:action="@{/attractions/delete/{name}(name=${attraction.name})}" method="post"
                      onsubmit="return confirm('Er du sikker på at du vil slette denne attraktion? ');">

                    <button type="submit" class="btn btn-delete">SLET</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <a th:href="@{/attractions/add}" class="btn-large">Tilføj Attraktion</a>
    <a th:href="@{/#attractions}" class="btn-large">Tilbage</a>
</div>

<footer>
    <p>© 2025 Attraction List</p>
</footer>

</body>
</html>
