<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<link th:href="@{/styles.css}" rel="stylesheet">
<head>
    <head>
        <meta charset="UTF-8">
        <title>Attraction List</title>
    </head>
<body>
<h1>Liste Over alle Attraktioner</h1>
<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Tags</th>
    </tr>
    <tr th:each="attraction : ${attractions}">
        <td th:text="${attraction.getName()}"></td>
        <td th:text="${attraction.getDescription()}"></td>
        <td>
            <a th:href="@{/attractions/tags/{name}(name=${attraction.getName()})}">
                <button type="button">Tags</button>
            </a>
        </td>
    </tr>
</table>

<button type="submit">Tilføj attraktion</button>

</body>
</html>