<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tags for Attraction</title>
  <link th:href="@{/attractionTags.css}" rel="stylesheet">
</head>
<body>

<h1 th:text="'Tags for ' + ${attraction.name}"></h1>

<p><strong>By:</strong> <span th:text="${attraction.getCity().displayName}"></span></p>

<h3>Tags:</h3>
<ul>
  <li th:each="tag : ${attraction.getTagList()}" th:text="${tag.displayName}"></li>
</ul>

<a th:href="@{/attractions}">
  <button>Tilbage til Attraktioner</button>
</a>

</body>
</html>