<!DOCTYPE html>
<html lang="en"
  xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div align="center">
  <div style="border-style:solid; width:500px">
    <h1>Attraktion information</h1>
    <br/>
    <p>Navn: <strong th:text="${updatedAttraction.name}"/></p>
    <br/>
    <p>Beskrivelse: <strong th:text="${updatedAttraction.description}"/></p>
    <br/>
    <p>By: <strong th:text="${updatedAttraction.city}"/></p>
    <br/>
    <p>Tags: <strong th:text="${updatedAttraction.tagList}"/></p>
    <br/>
    <a th:href="@{/attractions}">
      <button type="button">Tilbage</button>
    </a>
  </div>
</div>

</body>
</html>